body{
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

ul, li{
    display: block;
    padding: 0;
    margin: 0;
}

.icons__item img{
    width: 60px;
    height: 60px;
}

.icons__item{
    padding-right: 40px;
}

text-center{
    text-align: center;
}
.find {
    text-align: center;
}

.header {
    background-color: #8aaf8c;
}

/*-----for find products-----*/
.find{
    
}

.find input[type="button"]{
    font-size: 18px;
    padding-top:5px;
    padding-bottom: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #6c8b6e;
    background-color: #8aaf8c;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Comfortaa', cursive;
    transition: all 0.5s;
}

.find input[type="button"]:hover{
    background-color: #6c8b6e;
    transition: all 0.5s;
}

.find input[type="text"]{
    font-size: 18px;
    border:none;
    width: 300px;
    padding-left:5px;
    border-radius: 5px;
    padding-top:5px;
    padding-bottom: 5px;
    font-family: 'Comfortaa', cursive;
}
/*-----End finder-----*/

.menu__item {
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: center;
    transition: all 0.5s;
}

.menu__item a{
    color: black;
}

.menu__item:hover{
    background-color: #6c8b6e;
    transition: all 0.5s;
}

.menu__item-basket {
    
}

.menu {
    margin: auto;
    text-align: center; 
}

.text-center {
    text-align: center;
}

/*-----Dropdown for catigory-----*/
.menu__item-dropdown {
    position: relative;
    display: inline-block;
}

.menu__item-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu__item-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu__item-dropdown-content a:hover{
    background-color: #6c8b6e;
}

.menu__item-dropdown:hover .menu__item-dropdown-content{
    display: block;
}

.menu__item-dropdown span:hover{
    cursor: pointer;
}

/*----- For products -----*/
.products{
    
}

.products__item{
    margin: 10px;
    width: 90%;
    height: 90%;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    border-color: #8aaf8c;
    text-align: center;
    padding-bottom: 10%;
}

.products__item:hover{
    border-color: #6c8b6e;
    transition: all 1s;
}

.products__item-img {
    width: 70%;
    word-wrap: break-word;
}

.products__item_btn_add{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    border-style:none;
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*border-color: #6c8b6e;*/
    background-color: #8aaf8c;
    transition: all 0.5s;
    border-radius: 3px;
    padding-top:4px;
    padding-bottom: 4px;
}

.products__item_btn_add:hover{
    background-color: #6c8b6e;
    transition: all 0.5s;
}

/*-----Admin-----*/
.admin-block {
    text-align: center;
}

.admin-block__form {
    margin: auto;
    width:20%;
}

.admin-block__input {
    text-align: left;
    margin-bottom: 20px;
}

.admin-block__input-text{
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
    border: 2px;
    border-color: #8aaf8c;
    border-style: solid;
    transition: all 0.3s;
    font-family: 'Comfortaa', cursive;
    padding: 5px;
}

.admin-block__input-text:hover{
    border-color: #6c8b6e;
    background-color: #d3cbcb;
    transition: all 0.3s;
}

/*.admin-block__input-text:active{
    border-color: #6c8b6e;
    background-color: #d3cbcb;
    transition: all 0.3s;
    border
}*/

.admin-block__submit{
    border-radius: 5px;
    background-color:#8aaf8c;
    font-family: 'Comfortaa', cursive;
    padding: 6px;
    font-size: 18px;
    border-style: none;
    transition: all 0.3s;
}

.admin-block__submit:hover{
    transition: all 0.3s;
    background-color:#6c8b6e;
}

/*----- For products -----*/
.products{
    
}

.products__item{
    margin: 10px;
    width: 90%;
    height: 90%;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    border-color: #8aaf8c;
    text-align: center;
    padding-bottom: 10%;
}

.products__item:hover{
    border-color: #6c8b6e;
    transition: all 1s;
}

.products__item-img {
    width: 70%;
    word-wrap: break-word;
}

.products__item_btn_add{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    border-style:none;
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*border-color: #6c8b6e;*/
    background-color: #8aaf8c;
    transition: all 0.5s;
    border-radius: 3px;
    padding-top:4px;
    padding-bottom: 4px;
}

.products__item_btn_add:hover{
    background-color: #6c8b6e;
    transition: all 0.5s;
}

/*-----Products grid-----*/
.products-grid {
    margin: auto;
    margin-top: 20px;
    border:2px;
    border-style: solid;
    border-collapse: collapse;
    font-size: 14px;
    width: 80%;
}

.products-grid th{
    border:2px;
    border-style: solid;
    text-align: center;
    padding: 3px;
}

.products-grid td{
    text-align: center;
    border:2px;
    border-style: solid;
    padding: 3px;
}

.products-grid i{
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
}

.products-grid img{
    width:50%;
}

.products-grid__input{
    border-style: none;
    font-size: 12px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    width: 90%;
}

.products-grid__input-rows{
    resize: vertical;
    overflow: hidden;
}

.products-grid__input-discription{
    resize: vertical;
    overflow-x: hidden;
    overflow-y: auto;
    height: 104px;
    padding: 0;
}

.products-grid__control {
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    transition: background-color  .3s;
}

.products-grid__control-accept:hover{
    background-color: #10cc10;
    transition: background-color  .3s;
    color:white;
}

.products-grid__control-delete:hover{
    color:white;
    background-color: #e80f0f;
    transition: background-color .3s;
}