{% extends "index.html" %}
{% block section %}
<section class="products">
    <div class="container">
        <div class="row">
            {% for product in Products %}
            <div class="col-lg-4">
                <div class="products__item">
                    <h2>{{product[1]}}</h2>
                    <img class="products__item-img" src="{{ url_for('static', filename=product[4]) }}" alt="{{product[1]}}"><br>
                    <button class="products__item_btn_add" data-id="6" data-title="data" data-price=350 data-img="as">В корзину</button>
                    <span>Цена: {{product[6]}} руб</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}